<%= flash[:notice] %>
<%= form_tag(movies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<h1>Movies</h1>
<ul>
  <% @movies.each do |movie| %>
    <li><%= link_to movie.name, movie %></li>
    <% end %>
</ul>
