<%= flash[:notice] %>
<%= form_tag(movies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<h1>Movies</h1>
<div class="movies-container row">
  <% @movies.each do |movie| %>
    <a href=<%= movie_path(movie) %>>
      <div class="movie-tile small-4 columns">
        <div class="">
          <% unless movie.imdbID.nil? %>
            <%= image_tag movie.poster.medium %>
          <% end %>
        </div>
      </div>
    </a>
  <% end %>
</div>
<% if @movies.any? { |movie| movie.imdbID.nil? } %>
  <h3>Other Movies:</h3>
  <ul>
    <% @movies.each do |movie| %>
      <a href=<%= movie_path(movie) %>>
        <% if movie.imdbID.nil? %>
          <li><%= movie.name %></li>
        <% end %>
      </a>
    <% end %>
  </ul>
<% end %>
