<%= flash[:notice] %>
<h1><%=@movie.name %></h1>
<p><%= link_to "Edit Movie", edit_movie_path %></p>
<p>Description: <%= @movie.description%></p>

<div class="reviews">
  <% if @reviews.length > 0 %>
    <h3>Reviews</h3>
    <ul>
      <% @reviews.each do |review| %>
      <p>
        <b>Rating: <%= review.rating %> - <%= review.user.username %></b>
        </br>
        <%= review.body %>
      </p>
      <% end %>
    </ul>
  <% end %>
</div>
