<h1><%=@movie.name %></h1>
<p>Description: <%= @movie.description%></p>
<% if user_signed_in? %>
  <% if (@movie.user == current_user) || (current_user.admin?) %>
  <p><%= link_to "Edit Movie", edit_movie_path(@movie) %></p>
  <% end %>
<% end %>


<div class="reviews">
  <% if @reviews.length > 0 %>
    <h3>Reviews</h3>
    <ul>
      <% @reviews.each do |review| %>
        <p>
          <b>Rating: <%= review.rating %> - <%= review.user.username %></b>
          </br>
          <%= review.body %>
        </p>
          <% if (current_user == review.user) %>
            <%= link_to "Edit Review", edit_movie_review_path(@movie.id, review.id) %>
            <%= link_to "Delete Review", movie_review_path(@movie.id, review.id), method: :delete %>

          <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="review-form">
    <%= form_for [@movie, @review] do |f| %>
      <h3>Add a Review</h3>
      <div class="row">
        <%= f.label :rating, "Rating (1-7 stars)" %>
        <%= f.text_field :rating %>
      </div>

      <div class="row">
        <%= f.label :body, "Review (optional)" %>
        <%= f.text_area :body %>
      </div>

      <div class="row">
        <%= f.submit "Add Review" %>
      </div>
    <% end %>
  </div>
<% end %>
