<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ReviewSite</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li>Welcome <%= current_user.username %>!</li>
          <% unless current_user.profile_photo.file.nil? %>
            <%= image_tag current_user.profile_photo.url, { size: 100 } %>
          <% end %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Add Movie", new_movie_path %></li>
          <% if (current_user.admin?) %>
            <li><%= link_to "All Users", users_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>

        <li><%= link_to "Movies", movies_path %></li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="notice"><%= alert %></p>
    <p class="alert"><%= flash[:error] %></p>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>